@{
    ViewBag.Title = "MiniProflierX Web Api Demo";
}

<div class="jumbotron">
    <h1>MiniProflierX Web Api Demo</h1>
    <p class="lead">Demonstrates how MiniProfiler results from Web Api can be displayed on MVC Client that uses Web Api</p>
    <p><a href="https://github.com/ericpopivker/miniprofiler-web-api" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-12">
        <h2>Call Web Api Client</h2>
        <p>
           Click button below to call Web Api and display nested MiniProfiler results from Web Api as a part of MiniProfiler results for this page.
        </p>
        <p><a class="btn btn-default" href="/call-web-api">Call Web Api</a></p>
    </div>
</div>