<div class="jumbotron">
    <h1>MiniProflierX Web Api Demo</h1>
    <p class="lead">Demonstrates how MiniProfiler results from Web Api can be displayed on MVC Client that uses Web Api</p>
    <p><a href="https://github.com/ericpopivker/miniprofiler-web-api" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

